section.comparedPlayersInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.8rem auto 2.5rem;
  width: 100%;
  padding: 0 0.62rem;
  box-sizing: border-box;

  .player {
    width: 100%;
    padding: 1.25rem 1.25rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: flex-start;

    &.player2 {
      align-items: flex-end;
      border-left: 0;
    }
  }

  .imageAndName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    @media (max-width: 275px) {
      flex-direction: column;
      align-items: flex-start;
    }

    img {
      margin-right: 1.1rem;
      user-select: none;
    }

    &.imageAndName2 {
      flex-direction: row-reverse;
      margin-bottom: 1rem;

      @media (max-width: 275px) {
        flex-direction: column;
        align-items: flex-end;
        gap: 0.2rem;
      }

      img {
        margin-right: 0;
        margin-left: 1.3rem;
      }
    }

    h2.name {
      position: relative;
      top: 0.24rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.3rem;

      .firstName {
        font-weight: 300;
        margin-bottom: 0.3rem;
      }

      &.name2 {
        align-items: flex-end;
      }

      @media (max-width: 160px) {
        font-size: 1rem;
      }
    }
  }

  .teamAndPosition {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    @media (max-width: 210px) {
      flex-direction: column;
      align-items: center;
      gap: 0.2rem;
    }

    .dot {
      user-select: none;
    }
  }

  .vs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
    color: var(--color-success);

    .text {
      position: relative;
      margin-left: 1rem;
      margin-right: 1rem;
      text-align: center;

      margin: 0;
      padding: 0 1.3rem;
      left: -0.4rem;

      background-color: var(--color-background);
    }
  }

  // vs left and right lines
  .vs::before,
  .vs::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-success);
  }
}
