.footerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  footer.footer {
    bottom: 0;
    width: 100%;
    max-width: var(--max-width); // max-width
    height: 100px;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-background);

    @media (max-width: 175px) {
      flex-direction: column;
      gap: 0.5rem;
    }

    .authorCopyrightYear {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0.4rem;
      & > *:not(:last-child) {
        margin-right: 0.3rem;
      }

      a {
        @media (max-width: 100px) {
          font-size: 0.8rem;
        }
      }

      .copyright,
      .year {
        user-select: none;
        font-size: 0.8rem;
        color: #7280a7;
      }
    }

    .about {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-bottom: 1rem;
    }
  }
}
