.footerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  footer.footer {
    bottom: 0;
    width: 100%;
    max-width: var(--max-width); // max-width
    height: 100px;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);

    & > *:not(:last-child) {
      margin-right: 0.3rem;
    }

    .copyright,
    .year {
      user-select: none;
      font-size: 0.8rem;
      color: #7280a7;
    }
  }
}
