.foundPlayer {
  margin-bottom: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;

  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(155, 180, 255, 0.1);

  section.left {
    width: 100%;
    border-right: 1px solid rgba(155, 180, 255, 0.1);

    h2.name {
      font-size: 1.25rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0.5rem;

      .firstName {
        font-weight: 300;
        margin-bottom: 0.3rem;
      }
    }

    .team {
      font-size: 0.875rem;

      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        user-select: none;
      }

      p {
        color: rgba(194, 209, 255, 0.6);
      }

      .dot {
        user-select: none;
      }

      // style all children except the last one
      & > :not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

  section.right {
    width: 100%;

    // style all children
    & > div {
      color: rgba(194, 209, 255, 0.6);
      font-weight: 300;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0.5rem;

      p {
        color: rgba(194, 209, 255, 0.6);
        font-size: 0.875rem;
        font-weight: 600;
        margin-bottom: 0;
        margin-left: 1rem;
      }
    }

    button {
      position: relative;
      color: var(--color-primary-text-lighter);
      border: none;
      box-shadow: none;
      padding: 0;
      font-size: 1.5rem;
      margin-top: 0.5rem;
      background: none;
      user-select: none;

      text-shadow: 0 0 0.3rem rgba(218, 122, 5, 0.5);

      .icon {
        position: relative;
        animation: bounce 1s;
        animation-iteration-count: 2;
      }

      &:hover {
        color: var(--color-primary-text-hover);
        text-decoration: underline;
        left: 1px;
      }

      &:active {
        transform: translateX(1px);
        color: var(--color-primary-text-hover);
        // text-shadow: 0 0 0.3rem rgba(218, 122, 5, 0.5);
      }
    }

    .showPlayerSlot {
      position: relative;
      top: 0.5rem;
      color: #25ca6a;
      border: none;
      box-shadow: none;
      padding: 0;
      font-size: 1.5rem;
      font-weight: 600;
      margin-top: 0.5rem;
      background: none;
      user-select: none;
    }
  }
}

@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -1px;
  }
  100% {
    top: 0;
  }
}
