/* DEFAULT STYLING */
:root {
  --color-background: rgb(15, 22, 34);
  --color-primary: rgb(205, 112, 0);
  --color-primary-text-lighter: rgb(218, 122, 5);
  --color-primary-darker: rgb(155, 85, 0);
  --color-primary-text-shadow: rgba(218, 122, 5, 0.5);
  --color-primary-hover: rgb(199, 106, 0);
  --color-primary-text-hover: var(--color-primary);
  --color-success: #25ca6a;
  // --color-selection: rgba(92, 119, 252, 0.25);
  --color-selection: rgba(255, 151, 25, 0.201);
  --color-p: #bbc2d8;

  // Max width
  --max-width: 1512px;

  // Font rendering, smoothing, adjusting
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background-color: var(--color-selection);
  /* color: #fff; */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

/* THEME */
html {
  color-scheme: dark light;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Inter', 'SF Pro',
    'San Francisco Pro', 'Helvetica Neue', Helvetica, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', sans-serif;

  background-color: var(--color-background);
  color: #fff;

  min-height: 100vh;

  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* text-align: center; */

  /* overflow: hidden; */
}

header,
footer {
  padding: 0.5rem 1rem;
}

main {
  padding: 1rem;

  @media (max-width: 190px) {
    padding: 0.1rem;
  }
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select,
a,
a:link,
a:visited,
a:hover,
a:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  font-size: 1rem;
  outline: none;
}

/* active element outline */
:focus {
  outline: 2px solid var(--color-primary);
}

ul,
li {
  list-style: none;
}

a {
  color: var(--color-primary);
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  border: 1px solid #000;
  outline: none;

  background-color: var(--color-primary);
  color: #fff;
  box-shadow: inset -2px -2px 0 2px var(--color-primary-darker),
    inset -2px -2px 0 3px rgba(0, 0, 0, 0.3);
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: -0.01rem;
  padding: 0.55rem 2rem 0.65rem 2rem;
  border-radius: 100px;
  user-select: none;
}

button:hover {
  background-color: var(--color-primary-hover);
}

button:active {
  transform: translateY(1px);
  box-shadow: inset -1px -1px 0 1px var(--color-primary-darker),
    inset -1px -1px 0 2px rgba(0, 0, 0, 0.3);
}

button:focus {
  outline: none;
}

p {
  color: var(--color-p);
}

/* DARK MODE */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
