.headerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000031;
  color: #fff;

  header.header {
    position: relative;

    padding: 1rem;
    margin-bottom: 0.2rem;

    width: 100%;
    max-width: var(--max-width); // max width
    display: flex;
    justify-content: space-between;
    align-items: center;

    button.logo {
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
      box-shadow: 0 0 0 1px var(--color-primary-darker);

      padding: 0;
      user-select: none;
      margin-right: 1rem;

      animation: bounce 1s ease-in-out alternate;
      animation-iteration-count: 2;

      &:hover {
        filter: brightness(1.05);
      }
    }

    form {
      input {
        background: rgba(169, 198, 255, 0.04);
        border: #ffffff18 1px solid;
        border-bottom: 1px solid var(--color-primary);
        border-radius: 100px;
        color: #fff;
        outline: none;
        padding: 0.5rem 1.1rem;
        margin-right: 1rem;
        width: 15rem;
        transition: all 0.1s ease-in-out;
        user-select: none;
      }

      input::placeholder {
        color: rgba(215, 225, 255, 0.5);
      }

      input:hover {
        background: rgba(169, 198, 255, 0.06);
      }

      input:focus {
        border: 1px solid var(--color-primary);
      }

      button {
        position: relative;
        top: -0.15rem;
        user-select: none;
      }
    }
  }

  @keyframes bounce {
    0% {
      transform: rotate(0deg);
      transform: translateY(0px);
    }
    25% {
      transform: translateY(3px);
    }
    50% {
      transform: rotate(-360deg);
    }
  }
}

@media (max-width: 456px) {
  header.header {
    flex-direction: column;
    align-items: flex-start;

    .logoContainer {
      width: 100%;
      margin-bottom: 1rem;

      button.logo {
        @media (max-width: 90px) {
          min-width: 40px;
          min-height: 40px;
        }
      }
    }

    form {
      width: 100%;

      display: flex;
      flex-direction: column;

      input {
        width: 100% !important;
        min-width: 100%;
        margin-bottom: 1rem;
      }

      button {
        min-width: 100%;

        @media (max-width: 145px) {
          word-wrap: break-word;
          padding-left: 0.1rem;
          padding-right: 0.1rem;
        }
      }
    }
  }
}
