.noPlayerFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;

  .arrowHand {
    position: relative;
    margin-left: 0.2rem;
    animation: jump 1s ease-in infinite;

    @media (max-width: 420px) {
      animation: none;
    }
  }
}

@keyframes jump {
  0% {
    top: 0;
  }
  50% {
    top: 0.2rem;
  }
  100% {
    top: 0;
  }
}
