section.welcome {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6.5rem;
  height: calc((100vh - 70px - 100px - 3rem));
  overflow: hidden;
  // width: 100%;

  color: #fff;

  // background image
  background: url('/hero-image.jpg'), rgba(15, 22, 34, 0.95);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 0.875rem;

  // MESSAGE
  .message {
    position: absolute;
    top: 0;
    right: 10.2rem;
    color: var(--color-success);
    font-weight: 600;
    background-color: #0b0e1b;
    box-shadow: 0px 0px 7px #000000;
    border-radius: 0.6rem;
    padding: 0.2rem 0.4rem;
    font-size: 1.15rem;
    transition: 0.5s;

    animation: 1s fadeIn ease-in-out;

    .arrow {
      margin-right: 0.1rem;
      position: relative;
      animation: 1s arrowBounce ease-in-out infinite;
    }

    @keyframes arrowBounce {
      0% {
        top: 0;
      }
      50% {
        top: 0.2rem;
      }
      100% {
        top: 0;
      }
    }

    @media screen and (max-width: 456px) {
      left: 1rem;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* BUTTON ROTATING GRADIENT */
  .buttonRotatingGradient {
    // Center element in absolute position
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    user-select: none;

    /* Text Color */
    color: #eef7ff;

    /* Size */
    // width: 75px;
    // height: 75px;
    font-size: 1.3rem;
    font-weight: 500;
    // text-transform: uppercase;

    /* Padding */
    padding: 0.6rem 1.15rem;

    /* Shadow */
    box-shadow: 0px 1px 3px 1px #04060a60;

    /* Border Radius */
    border-radius: 100px;

    // transform: translateZ(0);
    overflow: hidden;

    &::before,
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
    }

    /* Conic Gradient Animation */
    &::before {
      // * Width and Height should change when you put different text in the button
      // ? Turn off background-color in &::after during testing
      width: 600%;
      height: 600%;

      /* Animation Speed */
      animation: 5s rotate linear infinite;

      /* Gradient Color */
      background: conic-gradient(
        var(--color-primary),
        rgba(205, 113, 0, 0.5),
        rgba(205, 113, 0, 0.284),
        rgba(205, 113, 0, 0.223),
        rgba(205, 113, 0, 0.126),
        rgba(205, 113, 0, 0.128),
        var(--color-primary)
      );
    }

    /* Inner Square */
    &::after {
      /* Border Size */
      padding: 1px;

      /* Border Radius */
      border-radius: 100px;

      /* Background Color */
      background: linear-gradient(to bottom right, #0b101a, #131c2c);

      inset: 0;
      background-clip: content-box;
    }

    /* Hover Effect */
    &:hover {
      border: 0.5px solid var(--color-primary);
    }

    /* Active Effect */
    &:active {
      // transform: translateY(2px);
      transform: translate(-50%, -48%);
    }

    @media (max-width: 456px) {
      padding: 0.6rem 2rem;
    }

    @media (max-width: 270px) {
      flex-wrap: wrap;
      padding: 2rem 1rem;
      font-size: 0.875rem;

      & img {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  @media (max-width: 456px) {
    height: calc((100vh - 177px) - 3rem);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
